:root {
    /* FONT */
    --font-principal: "DM Sans", sans-serif;

    /* COLORS */

    /* SIZES */
    --footer-size: 80px;
    --sidebar-width: 360px;

    --bg-icon: #131313;
    --bg-arrow-color: #13131350;
}

body {
    background-color: #050505;
    color: #fff;
    font-family: var(--font-principal);
}