button {
    font-family: var(--font-principal);
}

/* HEADER */
.main-container {
    margin-left: calc(var(--sidebar-width) + 8px);
    margin-right: 8px;

    max-width: 80vw;
    height: 100vh;

    overflow-y: hidden;
}

.header__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 16px;
    margin: 10px;
    border-radius: 8px;
    background: #121212;
}

.header__navigation .navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__navigation .navigation .arrow-left {
    margin-right: 1.25rem;
}

.arrow-left, .arrow-right {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 32px;
    height: 32px;

    background: var(--bg-icon);
    background-color: var(--bg-arrow-color);
    cursor: pointer;
    border-radius: 50%;

    border: none;
}

.header__login {
    display: flex;
    align-items: center;
}

.header__search {
    display: flex;
    align-items: center;
    width: 364px;
    height: 40px;
    margin-left: 8px;
    background-color: #242424;

    border-radius: 500px;
    border: 1px solid transparent;
}

.header__search img {
    width: 16px;
    height: 16px;
    margin-left: 10px;
}

.header__search input {
    background-color: transparent;
    border: none;
    padding: 0 100px 0 12px;
    color: #fff;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    outline: none;

    width: 100%;
}

.header__login .subscribe {
    color: #707070;
    font-size: 14px;
    font-weight: 600;
    margin-left: 32px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.header__login .login {
    width: 100px;
    height: 40px;
    color: #000;
    font-size: 16px;
    font-weight: 700;
    border-radius: 40px;
    margin-left: 16px;

    cursor: pointer;
}

/* CARD SECITON */

.main__content {
    padding: 16px;
    margin: 10px 10px;
    background-color: #121212;
    border-radius: 8px;
    min-height: calc(100% - 220px);

    overflow: auto;
}

.main__content .main__title {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 800;
}

.main__content .main__library {
    margin-top: 24px;
    width: 100%;
    justify-content: center;

    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
    gap: 30px;
}

.main__content .main__library .card {
    width: 200px;
    height: 200px;
    background-color: #144c8d65;
    border-radius: 8px;
    overflow: hidden;
    padding: 20px;
}

.main__content .main__library a {
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: center;
}

.main__content .main__library .card span {
    font-weight: 600;
    color: #fff;
    font-size: 1.5rem;
}

.main__content .main__library .card img {
    height: 75%;
    aspect-ratio: 1 / 1;
    transform: rotate(30deg);

    position: relative;

    margin-left: 100px;
    margin-top: 60px;
}

.hidden {
    display: none;
}