/**/
@media screen and (max-width: 949px) {

    .main__content .main__library {
        grid-template-columns: 1fr;
    }

    .main__content .main__library .card {
        width: 80%;
    }

}

@media screen and (min-width: 950px) and (max-width: 1200px) {

    .main__content .main__library {
        grid-template-columns: 1fr 1fr;
    }

    .main__content .main__library .card {
        width: 80%;
    }

}

@media screen and (min-width: 1200px) and (max-width: 1460px) {
    .main__content .main__library {
        grid-template-columns: 1fr 1fr 1fr;
    }
}